* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: white;
    border: solid 1px black;
    width: 16px;
    height: 16px;
}


.container {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 2px; */
    /* min-width: 256px; */
    /* min-height: 256px; */
    max-width: 288px;
    max-height: 288px;
    flex-wrap: wrap;
    
    
}

/* .grid {
    display: flex;
    flex: 1;
    
} */