* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: white;
    border: solid 1px black;
    /* width: 16px;
    height: 16px; */
}



.container {
    display: flex;
    width: 350px;
    height: 350px;
    flex-wrap: wrap;
    
    
}

.touched {
    background-color: black;
}

.container > div {  width: calc(350px / 16);  height: calc(350px / 16);  box-sizing: border-box;}