* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: white;
    border: solid 1px black;
    width: 16px;
    height: 16px;
}



.container {
    display: flex;
    max-width: 289px;
    max-height: 289px;
    flex-wrap: wrap;
    
    
}

.touched {
    background-color: black;
}