* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: gray;
    
}

button {
    padding: 5px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0 6px 3px black;
    transition: all 0.1s ease;
}

button:hover {
    border: solid 2px whitesmoke;
    background-color: black;
    color: whitesmoke;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 3px black;
}

.title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid {
    background-color: white;
    /* border:  solid 0.1px black; */
    
}



.container {
    display: flex;
    width: 350px;
    height: 350px;
    flex-wrap: wrap;
    border: solid 2px black;
    
    
}

.touched {
    background-color: black;
}

.container > div {  width: calc(350px / 16);  height: calc(350px / 16);  box-sizing: border-box;}